
  <div class="row d-flex flex-xl-row flex-md-column justify-content-between p-3 shadow-sm p-3 mb-5 bg-white rounded">
    <div class="col">
      <h3>Angular Bootcamp Assignment 1</h3>
    </div>
    <div class="col pt-2 allign-right justify-content-end d-flex">
      <nav>
        <a class="text-dark mr-3" routerLink="/home">Home</a>
        <a class="text-dark mr-3" routerLink="/about">About</a>
        <a class="text-dark mr-3" routerLink="/add-product">Add Product</a>
      </nav>
    </div>
  </div>

