<div class="row text-center justify-content-center">
  <div class="col-8">
    <h4>About the bootcamp</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo saepe sunt mollitia obcaecati vel tenetur dignissimos quaerat ea.</p>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quis error provident nam unde velit dolor inventore laboriosam debitis placeat tempora earum ad expedita inventore laboriosam debitis placeat tempora earum ad expedita inventore laboriosam debitis placeat tempora earum ad expedita beatae dicta reiciendis amet sit magnam?</h5>
  </div>
</div>
